<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simtice.cnbeta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/about_logo"
        android:label="@string/app_name"
        android:theme="@style/SherlockTheme" >
        <activity
            android:name="com.simtice.cnbeta.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"      >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simtice.cnbeta.ui.MainNewsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"      >
        </activity>
        <activity
            android:name="com.simtice.cnbeta.ui.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simtice.cnbeta.ui.PreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simtice.cnbeta.ui.CommentListActivity"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.umeng.fb.ConversationActivity" 
            android:label="意见反馈"
            android:screenOrientation="portrait"
            android:icon="@drawable/icon"
            />
        <activity android:name="com.umeng.fb.ContactActivity" 
            android:screenOrientation="portrait"/>
        
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52396cbf56240b4bdd0008c8"
             >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
        
         <activity
            android:name="com.simtice.cnbeta.ui.AboutActivity"
            android:screenOrientation="portrait" 
            android:label="关于"
            android:icon="@drawable/icon"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    

</manifest>